<% provide(:title, "New Rss Feed") %>
<h1>Add Rss Feed Urls</h1>

<div class='row'>
  <div class='span6 offset3'>
    <%= form_for(:feed, url: feeds_path) do |f| %>
      <%= f.label :feed_url %>
      <%= f.text_field :feed_url %>

      <%= f.submit "Add Feed", class: 'btn btn-large btn-primary'%>

    <% end %>
    <%#= render :index %>

    <h1>All Feeds</h1>

    <br />
    <br />
    <br />

<%#= will_paginate %>

<ol class="feeds">
    <%#= render @feeds %>
    <% @feeds.each do |f| %>
      <li>
          <%= link_to f.feed_url, '#' , {"onmouseover" => "Parse this feed", "onmouseout" => "Read this feed"}%>
          <%= link_to "Edit", edit_feed_path(f) %>&nbsp;&nbsp;
          <%= link_to "delete", f, method: :delete, data: { confirm: "You sure?" } %>
          <br />
          </li>
    <% end %>
  </ol>
    <%= link_to "All Feeds ", feeds_path %> &nbsp;&nbsp;
    <%= link_to "Home", root_path %>
  </div>
</div>
